

{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>typewriter.</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/t.png' %}" />
    <!-- Font Icon -->
	<link href="{% static 'signup/fonts/material-icon/css/material-design-iconic-font.min.css' %}" rel="stylesheet">

    <!-- Main css -->

	<link href="{% static 'signup/css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    
    
    

</head>

<body>
    <nav class="navbar navbar-expand-lg  navbar navbar-dark bg-primary" style="background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);">
        <a class="navbar-brand" href="/"><img src="{% static 'images/t.png'%}" alt=" Typewriter." style="height: 50px; width:110px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'typr_users:signup'%}">Sign Up</a>
            </li>
           
          </ul>
          <span class="navbar-text">
            
                    
          </span>
        </div>
      </nav>

    <div class="main">
            <div>{% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ message}}</div>
        <!-- Sign up form -->
        <section class="signup"  style="background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);">
            <div class="container" >
                <div class="signup-content" >
                    <div class="signup-form">
                        <h2 class="form-title">Log In</h2>
                        <div>  {% if form.non_field_errors %}
                          {% for error in form.non_field_errors %}
                          <p style="color: red;"> {{ error }}</p>
                          {% endfor %}
                         
                      {% endif %}</div>
                        
						
                        <form method="POST" class="register-form" id="register-form" method="POST">
							{% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{form.username.name}}
                                {{form.username}}
                               
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{form.password.name}}
                                <p id="lilone" style="float:right; font-size:small"  onmouseover="this.style.cursor='pointer';">show</p>
                                {{form.password}}
                               
                            </div>
                           
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="login" class="form-submit" value="Log In"/>
                                <!-- <a href="{%url 'password_reset' %}" style="float:right; color:black; font-size:small;">Forgot password?</a>  -->
                                
                                <small style="text-decoration-color: black;">
                                           
                                </small>
                            </div>
                            
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'signup/images/signin-image.jpg' %}" alt="sing up image"></figure>
                        <p>Dont have an account?  </p><a href="{%url 'typr_users:signup'%}" class="signup-image-link">Sign Up!</a>
                    </div>
                </div>
            </div>
        </section>

        
        
   
    

    <!-- JS -->
    <script src="{% static 'signup/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'signup/s/main.js' %}"></script> 


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
        var x;
        x=document.getElementById("lilone")
        ll=document.getElementById("login")
        pp = document.getElementById("id_password")
        
        function changeType() {
            if (pp.type === "password") {
                pp.type = "text";
                x.innerText = "Hide"
                
              } else {
                pp.type = "password";
                x.innerText = "Show"
                x.style.color="black";
              }
            console.log("toggled")
        
         }

         function Revert() {
            if (pp.type === "text") {
                pp.type = "password";
                console.log("changed back to password")
                }
        }

         x.onclick = changeType;
         ll.onclick = Revert;
         </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>



